body{
    background-color: #15202B;
    height: 1400px;
}   
.banner{
background-color:#202C38;
width:94%;
margin-left: 3%;
margin-right: 3%;
margin-top: 5%;
border-radius: 12px;
position: relative;
}
.Bannerimage{
    width:28%;
}
.Bannerimager{
    width:28.5%;
    margin-left: 71.4%;
    position: absolute;
    margin-top: -21.6%;
}
.bannericon{
    position: relative;
    height: 3%;
    width: 3%;
    left:2px; 
  }
.TextStyle{
margin-top: -20%;
font-family: 'Gilroy-Bold';
font-size: 35px;
color: #FFFFFF; 
position: absolute;
margin-left: auto;
margin-right: auto;
left:0;
right:0;
text-align: center;
}
.TextStyle2{
    margin-top: -15%;
    width: 40%;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
}
.btn{
gap: 8px;
width: 251px;
height: 56px;
background: linear-gradient(90deg, #B25AFF 0%, #7A27CA 100%);
border-radius: 8px;
color: #FDFBFF;
font-family: 'Gilroy-Bold';
font-size: 20px;
position: absolute;
margin-left: auto;
margin-right: auto;
left:0; right:0;
text-align: center;
margin-top: -8%;
}
.Secbanner{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: auto;
    gap: 50px;
     width: 814px;
    height: 88px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.baneer1{
    float: left;
width: 191px;
height: 87px;
flex: none;
order: 0;
flex-grow: 0;
}
.baneer2{
    float: left;
    width: 80px;
    height: 87px;
   flex: none;
    order: 1;
    flex-grow: 0;
}
.baneer3{
    float: left;
    width: 155px;
    height: 87px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.baneer4{
    float: left;
    width: 88px;
    height: 87px;
     flex: none;
    order: 3;
    flex-grow: 0;
}
.SecText{
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
font-family: 'Gilroy-SemiBold';
font-size: 32px;
line-height: 150%;
color: #ECECEC;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.opt{
    margin-top: 32px;
}
.leftbox{
    padding: 24px;
     position: absolute;
     width: 47.19vw;
    /* height: 670px; */
    height: 54vw;
    left: 6vw;
    /* top: 668px; */
    top:50.19vw;
     background: #202C38;
    box-shadow: 5px 4px 39px rgba(0, 0, 0, 0.25);
    /* border-radius: 20px; */
    border-radius: 1.56vw;
}
.textcont{
/* margin-left: 25px; */
margin-left: 1.95vw;
 /* width: 156px; */
    width: 12.19vw;
    /* height: 54px; */
    height: 4.25vw;
   font-family: 'Gilroy-Bold';
    font-size: 36px;
    line-height: 150%;
     display: flex;
    align-items: center;
    text-align: center;
    color: #FDFBFF;
}
.subcont{
    /* width: 159px; */
    width: 12.41vw;
    margin-top: 1vw;
/* height: 16px; */
height: 1.25vw;
/* margin-left: 25px; */
margin-left: 1.95vw;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;
color: #FDFBFF;
}
.dispframe{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
/* gap: 20px; */
gap: 1.56vw;
/* margin-left: 20px; */
margin-left: 1.56vw;
/* width: 546px; */
width: 42.71vw;
}
.frame1{
    /* width: 159px; */
    width: 12.41vw;
    display: flex;
flex-direction: row;
align-items: center;
padding: 0.2vh;
/* gap: 44px; */
gap: 3.43vw;
/* margin-top: 30px; */
margin-top: 2.34vw;
}
.icon{
    /* margin-top: 4px; */
    margin-top: 0.31vw;
    box-sizing: border-box;
/* width: 34px; */
width: 2.66vw;
/* height: 34px; */
height: 2.66vw;

border: 1px solid #CCCCCC;
/* border-radius: 17px; */
border-radius: 1.33vw;
/* margin-right: 20px; */
margin-right: 1.56vw;
/* Inside auto layout */
font-family: 'Segoe UI';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 0px;
display: flex;
align-items: center;
text-align: center;
text-indent: 10px;
flex: none;
order: 0;
flex-grow: 0;
color: white;
font-family: 'Segoe UI';
font-style: normal;
font-weight: 700;
font-size: 15px;    
}
.frametext{
    /* margin-right: 40px; */
    margin-right: 3.12vw;
    /* width: 263px; */
    width: 20.55vw;
font-family: 'Gilroy-SemiBold';
font-size: 18px;
/* line-height: 20px; */
line-height: 1.56vw;
display: flex;
align-items: center;
color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.frametime{
    
/* width: 82px; */
width: 6.41vw;

font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 12px;
/* line-height: 0px; */
line-height: 0.93vw;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.line{
    /* width: 540px;*/
    width: 42.19vw;
/* height: 0px; */
height: 0vw;
/* border: 0.5px dashed #FDFBFF; */
border: 0.06vw dashed #FDFBFF;
display: flex;
flex: none;
order: 1;
flex-grow: 0;
}
.leftbtn{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 0px 36px; */
padding: 0px 2.81vw;
/* margin-top: 20px; */
margin-top: 1.56vw;
/* margin-left: 200px; */
margin-left: 15.62vw;
color: #FDFBFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* line-height: 20px; */
line-height: 1.56vw;
/* width: 164px; */
width: 12.81vw;
/* height: 56px; */
height: 4.38vw;
/* border-radius: 8px; */
border-radius: 0.63vw;
/* border: 4px solid; */
border: 0.31vw solid;
border-color: #7A27CA;
}
.rightwrap{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 1.56vw;
gap: 1.25vw;
position: absolute;
width: 32.63vw;
height: 12.5vw;
left: 60.87vw;
top: 50.19vw;
background: #33307B;
border-radius: 12px;
}
.rightwrap1{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.25vw;
padding: 1.56vw;
position: absolute;
width: 32.63vw;
height: 15.19vw;
left: 60.87vw;
top: 68.19vw;
background: #27295B;
border-radius: 12px;
}
.rightwrap2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1.56vw;
position: absolute;
width: 32.63vw;
height: 10.19vw;
left: 60.87vw;
top: 89.19vw;
background: #1D243F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0.94vw;
}
.rightwrapText{
    width: 246px;
height: 20px;
margin-bottom: 20px;
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: -0.2px;
text-transform: capitalize;
color: #EEEEEE;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}
.rightwraplist  {
    width: 258px;
height: 84px;
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 32px;
display: flex;
align-items: center;
color: #EEEEEE;
flex: none;
order: 1;
flex-grow: 0;
}
.rightwraplist1{
    width: 353px;
height: 135px;
font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 150%;
display: flex;
align-items: center;
color: #FDFBFF;
flex: none;
order: 1;
flex-grow: 0;
}
.botbtn{
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
position: absolute;
padding: 0.94vw 5.21vw 0.63vw;
width: 17vw;
height: 4.38vw;
left: 80vw;
top: 108.59vw;
background: linear-gradient(90deg, #B25AFF 0%, #7A27CA 100%);
border-radius: 8px;
font-family: 'Gilroy-Bold';
font-size: 20px;
color: #FDFBFF;
}
.bottext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    padding: 0.94vw 7.81vw 0.63vw;
    width: 21.79vw;
    height: 4.38vw;
    left: 57.5vw;
    top: 108.59vw;
    font-family: 'Gilroy-Bold';
    font-size: 28px;
    line-height: 20px;
    color: #FDFBFF
}
.bottext1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    padding: 0.94vw 0.78vw 0.63vw;
    width: 21.79vw;
    height: 4.38vw;
    left: 57.5vw;
     top: 110.94vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
     display: flex;
    align-items: center;
    text-decoration-line: line-through;
    color: #FDFBFF;
    
    
}
